*{
box-sizing:border-box;
margin:0;
padding:0;
font-family:'Segoe UI',sans-serif;
}

body{
background: radial-gradient(circle at top,#1e3a8a,#020617);
min-height:100vh;
display:flex;
align-items:center;
justify-content:center;
padding:20px;
color:white;
}

.card{
width:100%;
max-width:400px;
background:rgba(30,41,59,0.95);
border-radius:24px;
padding:26px;
box-shadow:0 0 40px rgba(0,150,255,0.15);
}

.title{
text-align:center;
font-size:26px;
font-weight:600;
color:#60a5fa;
margin-bottom:25px;
}

.field{
margin-bottom:18px;
}

.field label{
display:block;
margin-bottom:6px;
color:#cbd5f5;
font-size:14px;
}

/* INPUT */
input{
width:100%;
height:52px;
border-radius:14px;
border:2px solid #334155;
background:#3b4a5e;
color:white;
padding:0 16px;
font-size:16px;
outline:none;
}

/* SELECT WRAP FIX ANDROID */
.select-wrap{
height:52px;
border:2px solid #334155;
border-radius:14px;
background:#3b4a5e;
display:flex;
align-items:center;
padding:0 16px;
}

.select-wrap select{
width:100%;
height:100%;
border:none;
background:transparent;
color:white;
font-size:16px;
outline:none;
appearance:none;
-webkit-appearance:none;
-moz-appearance:none;
}

/* RESULT BOX */
.result{
margin-top:20px;
background:#020617;
padding:20px;
border-radius:18px;
text-align:center;
}

.amount{
font-size:32px;
color:#22c55e;
font-weight:bold;
}

.fee{
margin-top:4px;
color:#94a3b8;
}

.send{
margin-top:4px;
color:#e2e8f0;
}

/* UID BOX */
.uidbox{
margin-top:15px;
background:#020617;
padding:16px;
border-radius:16px;
text-align:center;
color:#cbd5f5;
}

/* BUTTON */
button{
width:100%;
margin-top:20px;
height:54px;
border:none;
border-radius:18px;
background:linear-gradient(90deg,#3b82f6,#60a5fa);
color:white;
font-size:16px;
font-weight:600;
cursor:pointer;
}
